mediapipe>=0.10.14
opencv-python>=4.8.0
numpy>=1.24
orjson>=3.10.0
tqdm>=4.66.0
pyyaml>=6.0.1

# Training
torch>=2.2.0
torchvision>=0.17.0
pytorch-lightning>=2.3.0
scikit-learn>=1.4.0
optuna>=3.6.0

# Export/serving
onnx>=1.15.0
onnxruntime>=1.17.0
