# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBYvIGN0-Yd1b7LG2Seg6VwfKnTYIo4n_4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=shotanalisys.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=shotanalisys
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=shotanalisys.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=602998191800
NEXT_PUBLIC_FIREBASE_APP_ID=1:602998191800:web:92f34de8304fc30ac5264d

# Firebase Admin SDK (Necesario para funciones del servidor)
# Obtén estas credenciales desde la consola de Firebase > Configuración del proyecto > Cuentas de servicio
FIREBASE_ADMIN_PROJECT_ID=shotanalisys
FIREBASE_ADMIN_CLIENT_EMAIL=firebase-adminsdk-xxxxx@shotanalisys.iam.gserviceaccount.com
FIREBASE_ADMIN_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nTU_CLAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"

# Google Cloud Storage (opcional, para funciones avanzadas)
GOOGLE_CLOUD_PROJECT=shotanalisys
